.gradle
.idea
apache-maven-3.6.0
build
Bukkit
CraftBukkit
gradle
PortableGit-2.30.0-64-bit
server
Spigot
work
BuildTools.jar
BuildTools.log.txt
gradlew
gradlew.bat
LoupGarou.iml
settings.gradle
spigot-1.19.3.jar